{% extends "BasePage.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<form method="post" class="centerBlock">
			<table>
				<tr>
					<td>
						<label>Username: </label>	
					</td>
					<td>
						<input type="text" name="username" placeholder="Enter your username here">
					</td>
					<td>
						<label>{{ empty_username }}</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>Password: </label>
					</td>
					<td>
						<input type="Password" name="password" placeholder="Enter your password here">
					</td>
					<td>
						<label>{{ empty_password }}</label>
					</td>
				</tr>
			</table>
			<input type="submit" name="submit">
		</form>
	</div>
</div>
{% endblock %}